<div class="comment">

  <ul>
  <p class="bottle-comment"><li><%= comment.tasting_note %> - <%= comment.commentor.username %></li>
    <% if logged_in? %>
      <% if comment.user_id == current_user.id %>

      <div class="links btn-group">

    <%= link_to "Edit", edit_bottle_comment_path(comment.bottle, comment) %>
    <%= link_to "Delete", bottle_comment_path(comment.bottle, comment), method: :delete, data: {confirm: "Are you sure?" } %>
    </div>

    <% end %>
    <% end %>
</p>
</ul>
</div>
