<div class="comment">

  <p class="bottle-comment"><%= comment.tasting_note %></p>



<% if logged_in? %>
  <% if comment.user_id == current_user.id %>

  <div class="links btn-group">

<%= link_to "Edit", edit_bottle_comment_path(comment.bottle, comment), class: "btn btn-custom" %>
<%= link_to "Delete", bottle_comment_path(comment.bottle, comment), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-custom" %>
</div>

<% end %>
<% end %>

</div>
